  
* {
    margin: 0 18px 0 18px;
    padding: 0 18px 0 18px;
}

body{
    width: auto;
    margin: 15px;
    display: inline;
    padding: 15px;
    font-family: monospace;
}

header {
    background-color: #ccc;
    padding: 15px;
}

a {
    text-decoration: none;
}

header nav ul li {
    display: inline;
    padding: 15px;
    text-align: center;
}

header nav ul li:hover {
    background-color: #c40fa5;
}

.img1 {
    border: #0fc781 solid 2px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.p1 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    background-color:#8618e0;
    line-height: 20px;
}

.name-span {
    font-size: 16px;
}

.one {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    line-height: none;
    background-color:#27e227;
    font-family: monospace;
}

.head-title {
    margin-bottom: 20px;
}

.top-ten {
    background-color: rgb(25, 58, 150);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.work {
    background-color:rgb(17, 19, 192);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

footer {
    background-color: rgb(82, 119, 58);
    color: #f10d0d;
    margin-top: 30px;
    padding: 10px;
}

.footer-span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}